<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign="space-around space-around"
     fxLayoutGap="10px">

    <div fxFlex="40" *ngIf="dish">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{ dish.name | uppercase }}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{ dish.image }}" alt="{{ dish.name }}"/>
            <mat-card-content>
                <p>{{ dish.description }}</p>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutGap="10px">
                <button mat-flat-button (click)="goBack()">BACK</button>
                <button mat-flat-button>LIKE</button>
                <button mat-flat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div fxFlex="40" *ngIf="dish">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>Comments</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list fxLayout="column" fxLayoutGap="30px">
                    <mat-list-item *ngFor="let commentItem of dish.comments">
                        <mat-list>
                            <div>{{ commentItem.comment }}</div>
                            <div>
                                <div class="star" *ngFor="let item of (commentItem.rating | numberToArray )"></div>
                            </div>
                            <div>-- {{ commentItem.author }} on {{ commentItem.date | date:'EEEE, dd MMMM yyyy' }}</div>
                        </mat-list>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div [hidden]="dish" fxFlex="100">
        <mat-spinner></mat-spinner><h4>Loading selected dish...</h4>
    </div>
</div>